@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

      <!-- Cabecera inicio -->
    <div class="jumbotron jumbotron-fluid mb-5">
        <div class="container text-center py-5">
            <h1 class="text-white display-3">Artista</h1>
            <div class="d-inline-flex align-items-center text-white">
                <p class="m-0"><a class="text-white" href="">Inicio</a></p>
                <i class="fa fa-circle px-3"></i>
                <p class="m-0">Artista</p>
            </div>
        </div>
    </div>
    <!-- Cabecera final -->


    <!-- Artista -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5 pb-4 pb-lg-0">
                    <img class="img-fluid w-100" src="img/artista3.jpg" alt="">

                </div>
                <div class="col-lg-7">
                    <h1 class="mb-4">Linkin Park</h1>
                    <p class="mb-4">Linkin Park es una banda estadounidense de rock alternativo procedente de Agoura Hills, California formada en 1996.</p>
                    <ul class="list-inline">
                        <li><i class="far fa-dot-circle text-primary mr-3"></i><a class="border-bottom text-decoration-none" href="#">Spotify</a>
                            <li><i class="far fa-dot-circle text-primary mr-3"></i><a class="border-bottom text-decoration-none" href="#">Twitter</a>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <!-- Artista final -->

    <!-- Artista -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5 pb-4 pb-lg-0">
                    <img class="img-fluid w-100" src="img/artista4.jpg" alt="">

                </div>
                <div class="col-lg-7">
                    <h1 class="mb-4">Pink</h1>
                    <p class="mb-4">Alecia Beth Moore, más conocida por su nombre artístico Pink, es una cantante, compositora, bailarina, acróbata y actriz estadounidense.</p>
                    <ul class="list-inline">
                        <li><i class="far fa-dot-circle text-primary mr-3"></i><a class="border-bottom text-decoration-none" href="#">Spotify</a>
                            <li><i class="far fa-dot-circle text-primary mr-3"></i><a class="border-bottom text-decoration-none" href="#">Twitter</a>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <!-- Artista final -->